{layout name="public/layout" /}



	<div class="search-menu navbar-fixed-top row hidden-xs pull-left">
		
		<!-- list -->
		<ul class="col-sm-6" >
			<li>
				<a href="{:url('/Search/index/')}">热门搜索</a>
				<a href="{:url('/Search/index/')}">最新</a>
				<a href="javascript:;" class="active">用户</a>
				<!--<a href="">照片</a>
				<a href="">视频</a>-->
			</li> 		  	  
		</ul>
	
	</div>
	
	<br class="visible-sm visible-md visible-lg">
	<br class="visible-sm visible-md visible-lg">

  <!-- main -->
  <div class="container row" style="margin-top:4em;">

  	<!-- left -->
		{include file="public/left" /} 
		<!-- left -->

	<!-- comment -->
	<div class="col-sm-6 col-md-6 search-list">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<ul class="col-xs-12 col-sm-12 col-md-12">


{volist name="user" id="vo" empty="<strong>抱歉！没有找到合适的信息...</strong>" key="key"}

				<!-- list -->
				<li class="pull-left">					
					<a href="" class="pull-left">
						<img src="__PUBLIC__{$vo->head}" alt="" width="100px" height="100px" >
					</a>	

					<div class="pull-left">
						<a href=""> <strong> {$vo->name}</strong> </a> <br>
						<p style="color:#90949C;font-size:12px;">
							所在地：{$vo->address} <br>
							单身 · {$vo->sex} · {$vo->age} <br>
							<!--1 位共同好友：唐旭峰 <br>-->
							曾经就读：{$vo->edu} <br>
							职业：{$vo->profession} <br>
						</p>
					</div>
					
					<!-- 菜单 -->
					<div class="dropdown pull-right" >
			          ••• <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:gray;">  
			          	<span class="icon-angle-down" style="text-decoration:none;"></span>
			          </a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="#"> 发消息</a></li>
			            <li><a href="#" > 照片</a></li>
			            <li><a href="#"> 好友</a></li>
			            <li><a href="#"> 兴趣</a></li>
			          </ul>
			        </div> 

	<?php if( $vo->status == 0  ): ?>
		<!-- 加为好友 -->
		<button type="button" class="btn btn-default btn-sm icon-plus pull-right" onclick="addFriend('{$vo->uid}')" >&nbsp;添加关注 </button>
	<?php else: ?>
			<!-- 删除好友 -->
			<button type="button" class="btn btn-default btn-sm icon-plus pull-right btn-danger" onclick="delFriend('{$vo->uid}')" >&nbsp;取消关注 </button>
	<?php endif; ?>	


				</li>
				<!-- list -->				
{/volist}

			<li style="border:none;">
				<p> &nbsp;</p>
				<center>  一共找到 <span style="color:gray;font-weight:bold;"> {:$key} </span>  条结果</center>  	
			</li>
             						
			</ul>
		</div>		
	</div>
	<!-- comment -->



	<br class="visible-xs">



	<!-- right -->
	{include file="public/right" /} 
	<!-- right -->



  </div>
  <!-- main -->

<script>
function addFriend(fid){
	$.post("{:url('/Search/save')}", { "fid": fid, },
   		function(data){
		   if (data.code>0) {
				layer.msg(data.msg);
				setTimeout(function(){
				window.location.reload(); 
				},1000);
				// console.log(data);
			}else{
				layer.msg(data.msg);	
				// console.log(data);
			}
   		}
    );	

}	


function delFriend(fid){
	$.post("{:url('/Search/delete')}", { "fid": fid, },
   		function(data){
		   if (data.code>0) {
				layer.msg(data.msg);
				setTimeout(function(){
				window.location.reload(); 
				},1000);
				// console.log(data);
			}else{
				layer.msg(data.msg);	
				// console.log(data);
			}
   		}
    );	

}
</script>

</body>
</html>
