{layout name="public/layout" /}

<style>
	body{
		background:white;
	}	
</style>

<!-- container -->
  <div class="container" style="margin-top:3em;">
  	<div class="row">

		<div class="col-md-2 seting-list">
			<ul>
				<li class="active"><a href="{:url('Set/index')}">常规设置</a></li>
				<li><a href="{:url('Set/more')}">详细设置</a></li>
				<li class="divider"></li>
				<!--<li><a href="">隐私</a></li>-->
				<li><a href="{:url('Set/password')}">密码</a></li>
			</ul>
		</div>

		<div class="col-md-8 seting-main" >
			<h4 style="font-weight:bold;">帐户常规设置</h4>
			<table class="table table-hover">

			  <tr>
				<td colspan="3">
					<center><img class="head" src="__PUBLIC__{$myInfo->head}" width="10%"></center> 
				</td>
				<!-- head upload -->
				<form id="myForm" method="post" action="{:url('Set/save')}" enctype="multipart/form-data" target="upload">
					<input type="file" name="image" id="file" style="display:none;" />
				</form>

				<iframe name="upload" style="display:none;"></iframe>
				<!-- end upload -->

			  </tr>
			  <tr>
			  	<td> <strong>姓名</strong> </td>
			  	<td> 
			  		<span style="color:#90949C;">{$myInfo->name}</span> 
			  		<input type="text" class="btn-xs" name="name" style="display:none;" >
			  	</td>
			  	<td>
			  		<a href="javascript:;" class="edit">编辑</a> 
			  		<a href="javascript:;" class="save" style="display:none;">保存</a> 
			  		<a href="javascript:;" class="cancel" style="display:none;">取消</a> 
			  	</td>
			  </tr>
			  <tr>
			  	<td> <strong>性别</strong> </td>
			  	<td> 
			  		<span style="color:#90949C;">{$myInfo->sex}</span> 
			  		<input type="text" class="btn-xs" name="sex" style="display:none;" >
			  	</td>
			  	<td>
			  		<a href="javascript:;" class="edit">编辑</a> 
			  		<a href="javascript:;" class="save" style="display:none;">保存</a> 
			  		<a href="javascript:;" class="cancel" style="display:none;">取消</a> 
			  	</td>
			  </tr>
			  <tr>
			  	<td> <strong>年龄</strong> </td>
			  	<td> 
			  		<span style="color:#90949C;">{$myInfo->age}</span> 
			  		<input type="text" class="btn-xs" name="age" style="display:none;" >
			  	</td>
			  	<td>
			  		<a href="javascript:;" class="edit">编辑</a> 
			  		<a href="javascript:;" class="save" style="display:none;">保存</a> 
			  		<a href="javascript:;" class="cancel" style="display:none;">取消</a> 
			  	</td>
			  </tr>
			  <tr>
			  	<td> <strong>地区</strong> </td>
			  	<td> 
			  		<span style="color:#90949C;">{$myInfo->address}</span> 
			  		<input type="text" class="btn-xs" name="address" style="display:none;" >
			  	</td>
			  	<td>
			  		<a href="javascript:;" class="edit">编辑</a> 
			  		<a href="javascript:;" class="save" style="display:none;">保存</a> 
			  		<a href="javascript:;" class="cancel" style="display:none;">取消</a> 
			  	</td>
			  </tr>
			  <tr>
			  	<td> <strong>手机</strong> </td>
			  	<td> 
			  		<span style="color:#90949C;">{$myInfo->phone}</span> 
			  		<input type="text" class="btn-xs" style="display:none;" name="phone" >
			  	</td>
			  	<td>
			  		<a href="javascript:;" class="edit">编辑</a> 
			  		<a href="javascript:;" class="save" style="display:none;">保存</a> 
			  		<a href="javascript:;" class="cancel" style="display:none;">取消</a> 
			  	</td>
			  </tr>
			  <tr>
			  	<td> <strong>QQ</strong> </td>
			  	<td> 
			  		<span style="color:#90949C;">{$myInfo->qq}</span> 
			  		<input type="text" class="btn-xs" style="display:none;" name="qq">
			  	</td>
			  	<td>
			  		<a href="javascript:;" class="edit">编辑</a> 
			  		<a href="javascript:;" class="save" style="display:none;">保存</a> 
			  		<a href="javascript:;" class="cancel" style="display:none;">取消</a> 
			  	</td>
			  </tr>
			<tr>
				<td colspan="3"></td>
			</tr>
			</table>
		</div>

	</div>
	<!-- row -->

  </div>
<!-- container -->






<script>
$(function(){

	//编辑
	$(".edit").click(function(){
		$(this).parents('tr').children('td').eq(1).children('span').hide();

		var values=$(this).parents('tr').children('td').eq(1).children('span').html();

		$(this).parents('tr').children('td').eq(1).children('input').val(values);
		$(this).parents('tr').children('td').eq(1).children('input').show();

		$(this).parents('tr').children('td').last().children('.edit').hide();
		$(this).parents('tr').children('td').last().children('.save').show();
		$(this).parents('tr').children('td').last().children('.cancel').show();
	});
	
	//取消
	$(".cancel").click(function(){
		$(this).parents('tr').children('td').eq(1).children('span').show();
		$(this).parents('tr').children('td').eq(1).children('input').hide();

		$(this).parents('tr').children('td').last().children('.edit').show();
		$(this).parents('tr').children('td').last().children('.save').hide();
		$(this).parents('tr').children('td').last().children('.cancel').hide();
	});


	//保存
	$(".save").click(function(){
		var values=$(this).parents('tr').children('td').eq(1).children('input').val()
		$(this).parents('tr').children('td').eq(1).children('span').html(values);
		$(this).parents('tr').children('td').eq(1).children('span').show();
		$(this).parents('tr').children('td').eq(1).children('input').hide();
		$(this).parents('tr').children('td').last().children('.edit').show();
		$(this).parents('tr').children('td').last().children('.save').hide();
		$(this).parents('tr').children('td').last().children('.cancel').hide();

		// values.length <=0 && layer.msg('不能为空');

		var name=$(this).parents('tr').children('td').eq(1).children('input').attr('name');


		$.post("{:url('Set/save')}", name+"="+values,

		    function(data){
				// console.log(data);
				data.code<=0 && layer.msg(data.msg);

			}
		, "json");

	});



	$(".head").click(function () {
		$("#file").click();
	});


	$("#file").change(function () {

		$("#myForm").submit();      
		setTimeout(function(){
			window.location.reload(); 
		},1000);
	});




});
</script>
