{layout name="public/layout" /}

<style>
	body{
		background:white;
	}	
</style>

<!-- container -->
  <div class="container" style="margin-top:3em;">
  	<div class="row">

		<div class="col-md-2 seting-list">
			<ul>
				<li><a href="{:url('Set/index')}">常规设置</a></li>
				<li><a href="{:url('Set/more')}">详细设置</a></li>
				<li class="divider"></li>
				<!--<li><a href="">隐私</a></li>-->
				<li class="active"><a href="{:url('Set/password')}">密码</a></li>
			</ul>
		</div>

		<div class="col-md-8 seting-main" >
			<h4 style="font-weight:bold;">密码设置</h4>

<form action="{:url('Set/password')}" method="post" id="password">
			<table class="table">

			  <tr>
			  	<td> <strong>原密码</strong> </td>
			  	<td> 
			  		<input type="text" class="btn-xs" name="old_password" >
			  	</td>
			  </tr>
			  <tr>
			  	<td> <strong>新密码</strong> </td>
			  	<td> 
			  		<input type="text" class="btn-xs" name="new_password" >
			  	</td>
			  </tr>
			  <tr>
			  	<td> <strong>新密码</strong> </td>
			  	<td> 
			  		<input type="text" class="btn-xs" name="c_password" >
			  	</td>
			  </tr>			  
				<tr>
					<td colspan="3">
						<center>
							<input type="button" class="btn btn-primary btn-xs submit" value="提交">
						</center>	
					</td>
				</tr>
			</table>
</form>

		</div>

	</div>
	<!-- row -->

  </div>
<!-- container -->






<script>
$(function(){
	$(".submit").click(function(){

			var content= $("#password").serializeArray();

			$.post("{:url('/Set/updatePass')}", content ,
				function(data){
						if (data.code>0) {
							layer.msg(data.msg);
							setTimeout(function(){
								window.location.href="{:url('/Lofin/index')}"; 
							},1000);
							
						}else{
							layer.msg(data.msg);	
						}
					
				}, "json");
	});

});
</script>
