  	<!-- left -->
	<ul class="nav nav-pills nav-stacked  col-sm-2 col-md-2 nav-left hidden-xs" style="margin-left:6%;" role="tablist">
	  <li role="presentation" ><a href="#" class="icon-user"> {$info->name}</a></li>
	  <li role="presentation"><a href="#" class="icon-comments-alt"> 动态消息</a></li>
	  <li role="presentation"><a href="#" class="icon-comment-alt"> Messages</a></li>
	  <li><span>发现</span></li>
	  <li role="presentation"><a href="#" class="icon-inbox"> 活动</a></li>
	  <li role="presentation"><a href="#" class="icon-globe"> 公共主页</a></li>
	  <li role="presentation"><a href="#" class="icon-group"> 小组</a></li>
	  <li role="presentation"><a href="#" class="icon-group"> 好友名单</a></li>
	  <li role="presentation"><a href="#" class="icon-tags"> 打招呼</a></li>
	</ul>
	<!-- left -->
